<ion-header>
  <ion-toolbar color="light">
    <ion-title>Buffet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-grid no-padding>
        
        <!-- inicio dos salgados: titulo-->
        <ion-row>
          <ion-col size="7">
            <div align="center"><b>Alimento</b></div>
          </ion-col>
          <ion-col>
            <div align="center"><b>Quantidade</b></div>
          </ion-col>
        </ion-row>


        <!-- lista dos salgados -->
        <ion-row class="ion-align-items-center">
          <ion-col size="7">
            <div>Bolinha de Queijo</div>
          </ion-col>
          <ion-col no-padding>
            <div align="right">100</div>
          </ion-col>
          <ion-col no-padding>
            <div>Unid.</div>
          </ion-col>
          <ion-col no-padding>
            <div align="center"><ion-checkbox color="light"></ion-checkbox></div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="7">
            <div>Coxinha de frango</div>
          </ion-col>
          <ion-col no-padding>
            <div align="right">120</div>
          </ion-col>
          <ion-col no-padding>
            <div>Unid.</div>
          </ion-col>
          <ion-col no-padding>
            <div align="center"><ion-checkbox color="light"></ion-checkbox></div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="7">
            <div>Empanada</div>
          </ion-col>
          <ion-col no-padding>
            <div align="right">40</div>
          </ion-col>
          <ion-col no-padding>
            <div>Unid.</div>
          </ion-col>
          <ion-col no-padding>
            <div align="center"><ion-checkbox color="light"></ion-checkbox></div>
          </ion-col>
        </ion-row>

        <!-- fim dos salgados-->

        <!--inicio dos Bebidas: titulo-->
        <ion-row>
        <ion-col size="7">
            <div align="center"><b>Bebidas</b></div>
          </ion-col>
          <ion-col>
            <div align="center"><b>Quantidade</b></div>
          </ion-col>
        </ion-row>

        <!-- lista de bebidas-->
        <ion-row class="ion-align-items-center">
            <ion-col size="7">
              <div>Coca</div>
            </ion-col>
            <ion-col no-padding>
              <div align="right">5</div>
            </ion-col>
            <ion-col no-padding>
              <div>L</div>
            </ion-col>
            <ion-col no-padding>
              <div align="center"><ion-checkbox color="light"></ion-checkbox></div>
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-align-items-center">
            <ion-col size="7">
              <div>Guarana</div>
            </ion-col>
            <ion-col no-padding>
              <div align="right">10</div>
            </ion-col>
            <ion-col no-padding> 
              <div>L</div>
            </ion-col>
            <ion-col no-padding>
              <div align="center"><ion-checkbox color="light"></ion-checkbox></div>
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-align-items-center">
            <ion-col size="7">
              <div>Catuaba</div>
            </ion-col>
            <ion-col no-padding>
              <div align="right">900</div>
            </ion-col>
            <ion-col no-padding>
              <div>ml</div>
            </ion-col>
            <ion-col no-padding>
              <div align="center"><ion-checkbox color="light"></ion-checkbox></div>
            </ion-col>
          </ion-row>
          <!-- fim da lista-->




      </ion-grid>

</ion-content>
