<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Adicionar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4><b>Dados do Evento</b></h4>

  <ion-list no-lines>

	  <ion-item>
	    <ion-label position="floating" class="item">Nome</ion-label>
	    <ion-input type="text" [(ngModel)]="nome"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label position="floating">Tipo</ion-label>
	    <ion-input type="text" [(ngModel)]="tipo"></ion-input>
    </ion-item>

    <ion-item>
	    <ion-label position="floating">CEP</ion-label>
	    <ion-input type="text" [(ngModel)]="cep"></ion-input>
    </ion-item>

    <ion-item>
	    <ion-label>Estado</ion-label>
	    <ion-select color="light" multiple="false" cancelText="Cancelar" okText="Selecionar" slot="end">
        <ion-select-option color="light" value="AC">Acre</ion-select-option>
        <ion-select-option color="light" value="AL">Alagoas</ion-select-option>
        <ion-select-option color="light" value="AP">Amapá</ion-select-option>
        <ion-select-option color="light" value="AM">Amazonas</ion-select-option>
        <ion-select-option color="light" value="BA">Bahia</ion-select-option>
        <ion-select-option color="light" value="CE">Ceará</ion-select-option>
        <ion-select-option color="light" value="DF">Distrito Federal</ion-select-option>
        <ion-select-option color="light" value="ES">Espírito Santo</ion-select-option>
        <ion-select-option color="light" value="GO">Goiás</ion-select-option>
        <ion-select-option color="light" value="MA">Maranhão</ion-select-option>
        <ion-select-option color="light" value="MT">Mato Grosso</ion-select-option>
        <ion-select-option color="light" value="MS">Mato Grosso do Sul</ion-select-option>
        <ion-select-option color="light" value="MG">Minas Gerais</ion-select-option>
        <ion-select-option color="light" value="PA">Pará</ion-select-option>
        <ion-select-option color="light" value="PB">Paraíba</ion-select-option>
        <ion-select-option color="light" value="PR">Paraná</ion-select-option>
        <ion-select-option color="light" value="PE">Pernambuco</ion-select-option>
        <ion-select-option color="light" value="PI">Piauí</ion-select-option>
        <ion-select-option color="light" value="RJ">Rio de Janeiro</ion-select-option>
        <ion-select-option color="light" value="RN">Rio Grande do Norte</ion-select-option>
        <ion-select-option color="light" value="RS">Rio Grande do Sul</ion-select-option>
        <ion-select-option color="light" value="RO">Rondônia</ion-select-option>
        <ion-select-option color="light" value="RR">Roraima</ion-select-option>
        <ion-select-option color="light" value="SC">Santa Catarina</ion-select-option>
        <ion-select-option color="light" value="SP">São Paulo</ion-select-option>
        <ion-select-option color="light" value="SE">Sergipe</ion-select-option>
        <ion-select-option color="light" value="TO">Tocantins</ion-select-option>
    </ion-select>
    </ion-item>
    
  </ion-list>
  
  <div>
	  <ion-button expand="block" class="ion-button" padding color="light" (click)="addEvento()">Adicionar</ion-button>
  </div>
  
</ion-content>
