<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>FestaJa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form>
  <ion-searchbar class="ion-button" placeholder="Pesquisar Serviços" cancelButtonText="Cancelar" animated></ion-searchbar>
  <ion-button class="ion-button" expand="block" color="light">Pesquisar</ion-button>
  </form>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <h4><b>Seus Eventos...</b></h4>
<ion-list>
  <ion-item-sliding *ngFor="let evento of eventos">
      <ion-card>
        <ion-item>
        <ion-card-title (click)="perfilEvento(evento.idEvento, evento.NomeEvento, evento.TipoEvento)">{{evento.NomeEvento}}</ion-card-title>
        <ion-icon (click)="confirmar(evento.idEvento, evento.NomeEvento)" color="light" name="trash" slot="end"></ion-icon>
      </ion-item>
        <br>
        <ion-card-content (click)="perfilEvento(evento.idEvento, evento.NomeEvento, evento.TipoEvento)">{{evento.TipoEvento}}</ion-card-content>
      </ion-card>
  </ion-item-sliding>
</ion-list>


<ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>

<ion-footer 	translucent="true" class="ion-padding-bottom">
  <ion-button class="ion-button" color="light" expand="block" (click)="pageAdicionarEvento()">
    Adicionar
  </ion-button>
</ion-footer>
